<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            @*<a class="mobile-menu" id="mobile-collapse" href="#!">
                    <i class="feather icon-menu"></i>
                </a>*@
            <div class="row">
                <div class="col-sm-5">
                    <a href="index.html">
                        <img src="~/Upload/Image/@{ Html.RenderAction("Logo", "SiteConstant"); }" width="40" style="border-radius: 50%;" alt="Theme-Logo" />
                    </a>
                </div>
                <div class="col-sm-7" style="color: #fff;font-weight: bold;font-size: 25px;text-transform: uppercase;">
                    @{ Html.RenderAction("LogoName", "SiteConstant"); }
                </div>
            </div>
            <a class="mobile-options">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>
        <div class="navbar-container container-fluid">
            <ul class="nav-left">
                <li>
                    <a href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize full-screen"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">

                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <span> @Session["FullName"]</span>
                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <a href="/Account/Logout">
                                    <i class="feather icon-log-out"></i> Çıkış Yap
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>