<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel"></div>

        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu active pcoded-trigger">
                @*<a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>*@
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="/Panel/Anasayfa/Index">
                            <span class="pcoded-mtext">Anasayfa</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Panel/Admin/Index">
                            <span class="pcoded-mtext">Kullanıcı Tanım</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Panel/Slider/Index">
                            <span class="pcoded-mtext">Slider</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Panel/AboutUsPage/Edit/1">
                            <span class="pcoded-mtext">Hakkımızda</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Panel/ContactPage/Edit/1">
                            <span class="pcoded-mtext">İletişim</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="index.html">
                            <span class="pcoded-mtext">Hizmetlerimiz</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="index.html">
                            <span class="pcoded-mtext">Projeler</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Panel/ProjectCategory/Index">
                            <span class="pcoded-mtext">Proje Kategorileri</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="index.html">
                            <span class="pcoded-mtext">Kategoriler</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="index.html">
                            <span class="pcoded-mtext">Alt Kategoriler</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Panel/Reference/Index">
                            <span class="pcoded-mtext">Referanslar</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Panel/SiteConstant/Edit/6">
                            <span class="pcoded-mtext">Site Sabitleri</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="index.html">
                            <span class="pcoded-mtext">Önizleme</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>