@model BuildingSite.Model.EntityModels.ViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====================  breadcrumb area ====================-->
<div class="page-breadcrumb bg-img space__bottom--r120" data-bg="/Upload/Image/@Model.SiteConstantModel.PictureOurService">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-breadcrumb-content text-center">
                    <h1>Projeler</h1>
                    <ul class="page-breadcrumb-links">
                        <li><a href="/Home/Index">Anasayfa</a></li>
                        <li>Projeler</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of breadcrumb area  ====================-->
<div class="project-section space__bottom--r120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="project-item-wrapper space__bottom--m40" id="project">
                    <div class="row">
                        @foreach (var project in Model.Projects)
                        {
                            <div class="col-lg-3 col-md-6 col-12 space__bottom--40">
                                <div class="single-project-wrapper single-project-wrapper--reduced-abs">
                                    <a class="single-project-item p-0" href="/Project/Detail/@project.Id">
                                        <img src="~/Upload/Image/@project.Picture" style="width:370px; height:302px" class="img-fluid" alt="">
                                        <span class="single-project-title">@project.Header</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div>
                        <center>
                            @Html.PagedListPager(
                Model.Projects,
                page => Url.Action("Pager", new { page = page }),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "project" })
                )
                        </center>
                    </div>

                </div>
            </div>
        </div> 
    </div>
</div>

