
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="card" style="margin-bottom:10px;">
    <div class="card-block">
        <div>
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="/Panel/Anasayfa/Index">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/Panel/Anasayfa/Index">Anasayfa</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/Panel/Reference/Index">Referans İşlemleri</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="card" style="margin-top:100px">
    <div class="card-header">
        <h5>Referans Bilgileri Ekleme</h5>
        <hr />
        <div class="card-header-right"><i class="icofont icofont-spinner-alt-5"></i></div>
    </div>


    <div class="card-block">
        <form enctype="multipart/form-data" method="post" role="form">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Firma Adı</label>
                <div class="col-sm-5">
                    <input type="text" name="CompanyName" required class="form-control form-control-normal">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Resim</label>
                <div class="col-sm-5">
                    <input type="file" name="ImageFile" required class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Link</label>
                <div class="col-sm-5">
                    <input type="text" name="Link"  class="form-control form-control-normal">
                </div>
            </div>

            <div class="card-block">
                <div class="col-lg-7" style="float:right">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                    <button class="btn btn-danger">İptal et</button>
                </div>
            </div>
        </form>
    </div>
</div>

