@model BuildingSite.Model.EntityModels.ViewModel
@using PagedList.Mvc;
<div class="row">
    @foreach (var reference in Model.References)
    {
        <div class="col-lg-3 col-md-6 col-12 space__bottom--40">
            <div class="service-grid-item">
                <div class="service-grid-item__image">
                    <div class="service-grid-item__image-wrapper">
                            <img src="~/Upload/Image/@reference.Picture" style="width:200px;" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <center>
        @Html.PagedListPager(
Model.References,
page => Url.Action("Pager", new { page = page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "reference" })
)
    </center>
</div>