@model BuildingSite.Model.EntityModels.ViewModel
    <!--====================  footer area ====================-->
<div class="footer-area bg-img space__inner--ry120" data-bg="/Content/assets/img/backgrounds/footer-bg.jpg" style="height:400px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <div class="footer-widget__logo space__bottom--40">
                        <a href="index.html">
                            @*<img src="~/Content/assets/img/logo-white.png" class="img-fluid" alt="">*@
                            <img src="~/Upload/Image/@{ Html.RenderAction("Logo", "Home"); }" width="200" alt="Theme-Logo" />
                        </a>
                    </div>
                    <ul class="social-icons">
                        <li><a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget space__top--15 space__top__md--40 space__top__lm--40">
                    <h5 class="footer-widget__title space__bottom--20">Proje Kategoriler</h5>
                    <ul class="footer-widget__menu">
                        @foreach (var ctg in Model.ProjectCategoryModels)
                        {
                            <li><a href="#">@ctg.Name</a></li>
                        }
                        @*<li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Hizmetlerimiz</a></li>
                        <li><a href="#">Projelerimiz</a></li>
                        <li><a href="#">Haberler</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget space__top--15 space__top__md--40 space__top__lm--40">
                    <h5 class="footer-widget__title space__bottom--20">Kurumsal</h5>
                    <ul class="footer-widget__menu">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="/OurService/Index">Hizmetlerimiz</a></li>
                        <li><a href="#">Projelerimiz</a></li>
                        <li><a href="#">Haberler</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="footer-widget__title space__top--15 space__bottom--20 space__top__md--40 space__top__lm--40">
                    İletişim
                </h5>
                <div class="footer-contact-wrapper">
                    <div class="single-footer-contact">
                        <div class="single-footer-contact__icon"><i class="fa fa-map-marker"></i></div>
                        <div class="single-footer-contact__text">@{ Html.RenderAction("Adres", "Home");}</div>
                    </div>
                    <div class="single-footer-contact">
                        <div class="single-footer-contact__icon"><i class="fa fa-phone"></i></div>
                        <div class="single-footer-contact__text"> <a href="tel:@{ Html.RenderAction("GSM", "Home");}">@{ Html.RenderAction("GSM", "Home");}</a> <br> <a href="tel:@{ Html.RenderAction("Phone", "Home");}">@{ Html.RenderAction("Phone", "Home");}</a> </div>
                    </div>
                    <div class="single-footer-contact">
                        <div class="single-footer-contact__icon"><i class="fa fa-globe"></i></div>
                        <div class="single-footer-contact__text">
                            <a href="mailto:@{ Html.RenderAction("Mail", "Home");}">@{ Html.RenderAction("Mail", "Home"); }</a>
                            <br> <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright text -->
<div class="copyright-area background-color--deep-dark space__inner--y30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright-text">2021 &copy; <a href="#">Tüm Hakları Saklıdır</a>- @Model.SiteConstantModel.Header</p>
            </div>
        </div>
    </div>
</div>
<!--====================  End of footer area  ====================-->
<!--====================  scroll top ====================-->
<button class="scroll-top" id="scroll-top">
    <i class="fa fa-angle-up"></i>
</button>
<!--====================  End of scroll top  ====================-->
