@model BuildingSite.Model.EntityModels.ViewModel
@using PagedList.Mvc;
<div class="row">
    @foreach (var news in Model.Newses)
    {
        <div class="col-lg-3 col-md-6 col-12">
            <div class="blog-post-slider__single-slide blog-post-slider__single-slide--grid-view">
                <div class="blog-post-slider__image space__bottom--30">
                    <a href="/News/Detail/@news.Id"><img src="~/Upload/Image/@news.Picture" class="img-fluid" alt=""></a>
                </div>
                <div class="blog-post-slider__content">
                    <p class="post-date"> @Convert.ToDateTime(news.Date).ToShortDateString()</p>
                    <h3 class="post-title">
                        <a href="/News/Detail/@news.Id">@news.Header</a>
                    </h3>
                    <p class="post-excerpt">
                        @news.Description
                    </p>
                    <a href="/News/Detail/@news.Id" class="see-more-link">Daha fazla oku</a>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <center>
        @Html.PagedListPager(
Model.Newses,
page => Url.Action("Pager", new { page = page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "news" })
)
    </center>
</div>